html {
  box-sizing: border-box;
}
*, *:before, *after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #888;
  font-weight: 300;
  font-size: 20pt;
  padding-top: 3em;
}
h1, h2, h3, h4, h5, h6 {
  color: #3e3e3e;
  margin: 0 0 0.75em 0;
  font-weight: 700;
}
h1 {
  font-size: 3em;
  letter-spacing: -0.025em;
  font-weight: 300;
}
  h1 strong {
      font-weight: 400;
  }
h2 {
  font-size: 2em;
  letter-spacing: -0.015em;
  padding-top: 50px;
  text-transform: uppercase;
  
}
h3 {
  font-size: 1.2em;
  letter-spacing: -0.015em;
  text-align: center;
  margin-top: 20px;

}
h4 {
  font-size: 2rem;
  padding-top: 20px;
}

#wrapper {
  text-align: center;
  width: 100%;
}
  
.flex-container {
  .flexbox-row;
  width: 97%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.project-container {
  margin: 0 auto;
  width: 25%;
  align-items: center;
}
  
img {
  .box-image;
  align-items: center;
  margin-top: 10px;
  height: 40vh;
  width: 25vw
}
  
p {
  line-height: 1.5em;
  width: 100%;
  margin: 0 auto;
}
  
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
  