.big-image {
    background-image: url(../img/photoMain.png);
    height: 70vh;
    width: 100vw;
    position: relative;
    background-size: cover;
  
}
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .overlay div h1 {
    font-size: 70px;
    letter-spacing: 4px;
    margin: 0 auto;
    color: white;
    justify-content: center;
  }
  
  .overlay div p {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 30px;
    align-content: center;
    
  }
