.flexbox-row{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
}
.box-image{
    border-radius: 15px;
    box-shadow: 4px 4px 20px black;
    border: 1px solid gray;
}