.flexbox-row{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.display-mixin{
    display: inline-block;
}
.box-image{
    border-radius: 15px;
    box-shadow: 4px 4px 20px black;
    border: 1px solid gray;
}
.button-mixin{
    background-color: @button-bg;
    color: black;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 2px 7px black;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 15px;
    margin-right: 40px;
    margin-left: 30px;

    &:hover{
        background-color: rgb(48, 211, 230);
        color: rgb(184, 3, 3);
    }
}