// Navigation Styles here

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
    margin-bottom: 5px;
}   
@media (max-width: @phone){
    nav {
        .flexbox-column;
    }
}
    nav a {
        display: inline;
        font-weight: 700;
        font-size: 20px;
        align-items: baseline;
}

    .logo h4{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: 500;
    }
@media (max-width: @tablet){
    .logo h4{
        font-weight: 400;
    }
}
@media (max-width: @phone){
    .logo h4{
        font-weight: 300;
        width: 100%;
    }
}