// Color assignments 
@hero-text:  @white;
@nav-logo: @dred;
@footer-bg: @bluesky;
@button-bg: @coral;

// Colors
@white: #FFFFFF;
@dred: rgb(184, 3, 3);
@coral: rgb(245, 98, 120);
@bluesky: #d3f4fd;

// Tablet Version
@tablet: ~"800px";

// Mobile Version
@phone: ~"500px";