// Color assignments 
@main-bg:  @white;
@navigation-logo: @seawaters;
@footer-bg: @bluesky;

// Colors
@white: #FFFFFF;
@seawaters: #33f4fe;
@bluesky: rgb(211, 244, 255);

// Tablet Version
@tablet: ~"(max-width: 768px)";

// Mobile Version
@phone: ~"(max-width: 500px)";